PORT=5000
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:5500,https://h4rsh-vishwakarma.github.io

DATABASE_URL=postgresql://postgres.PROJECT_REF:YOUR_PASSWORD@aws-REGION.pooler.supabase.com:5432/postgres
DB_CONNECTION_LIMIT=10

JWT_SECRET=your_jwt_secret_min_32_chars

JSEARCH_API_KEY=your_rapidapi_jsearch_key
YOUTUBE_API_KEY=your_youtube_data_v3_api_key
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=gpt-5-mini
